/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f2f5;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0073aa;
    color: white;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    position: relative;
}

nav ul li {
    margin: 0 1rem;
    position: relative;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffdd57;
}

nav ul li ul {
    display: none; /* Submenus não são exibidos automaticamente */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #0073aa;
    padding: 0;
    list-style: none;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav ul li ul li {
    margin: 0;
}

nav ul li ul li a {
    padding: 0.5rem 1rem;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 0.9rem; /* Diminuir o tamanho da fonte */
    min-width: 150px; /* Aumentar a largura mínima da coluna */
}

nav ul li ul li a:hover {
    background-color: #005177;
}

main {
    width: 90%;
    max-width: 1200px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 2rem;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#menu-list ul {
    list-style: none;
    padding-left: 1rem; /* Alinhar um pouco para a direita */
}

#menu-list ul ul {
    padding-left: 1rem; /* Alinhar um pouco para a direita */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer p {
    margin: 0.5rem 0;
}

.ad-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.script-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}